*{
	margin: 0px;
	padding: 0px;
}
body{
	color: white;
	font-family:arial, sans-serif;
	letter-spacing: 0.5px;
}
section{

}
div{

}
nav{

}
a{
	text-decoration: none;
}
#navbar a{
	text-decoration: none;
	margin-right: 2.5%;
	color: white;
}
h1{
	text-align: center;
	line-height: 4;
}
img{
	max-width: 100%;
}
h2{
	padding-top: 20px;
}
#welcome-section{
	background: linear-gradient(135deg, #7f00ff, #e100ff);
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 60px 0px 0px 0px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	align-items: center;
}
#pofile-pic {
	padding-left: 100px;
	align-self: center;
	justify-content: center;
	max-height: 100%;
}
#hello{
	font-size: 4em;
	font-family: Garamond;
	line-height: 1.5;
}
#page-content p{
	font-size: 1.4em;
	margin: 10px 50px 0px 50px;

}
#page-content p a{
	color: blue;
	text-decoration: underline;
}
#page-content{
	align-self: center;
}
#projects{
	position: relative;
	background: linear-gradient(180deg, #4568dc, #b06ab3);
	height: auto;
	padding: 25px;

}
.project-grid{
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  	grid-gap: 4rem 3rem;
 	width: 100%;
 	max-width: 100%;
  	margin: 0 auto;
  	margin-bottom: 6rem;
  	justify-content: space-between;
}
.project-tile{

}
.project-image{
	height: 100%;
  	width: 100%;
  	object-fit: cover;
}
.project-title{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: gray;
	height: 40px;
}

#contacts {
	position: relative;
	background: linear-gradient(90deg, #7f00ff, #e100ff);
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
	text-align: center;
}
#navbar{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 60px;
	background: linear-gradient(90deg, #9d50bb, #6e48aa);
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	font-size: 1.4em;
}
#profile-link{

}
.contact-links{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-links a{
	padding: 10px 20px 0px 20px;
	text-decoration: none;
	font-size: 1.2em;
	color: white;
}
#footer{
	background: linear-gradient(90deg, #7f00ff, #e100ff);
	text-align: center;
	padding: 50px 0px 0px 20px;
}
#footer p{
	line-height: 1.5
}

@media(max-width: 800px){
	html{
		font-size: 0.8em;
	}
	#welcome-section{
		position: relative;
		margin:50px 0px 0px 0px;
		display:grid;
		grid-template-rows: 1fr 1fr; 
		grid-template-columns: 1fr;
		height: auto;
	}
	#profile-pic{
		max-width: 100%;
		width: 350px;
		margin: auto;
	}
}
@media(max-width: 600px){
	html{
		font-size: 0.8em;
	}
	#navbar{
		height: 50px;
		font-size: 1.1em;
	}

	#page-content p{
		margin: 0px 5px;
	}
}